/* src/App.css */
body {
  font-family: sans-serif;
  background-color: #f4f7f6; 
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; 
}

.navbar-brand {
  font-weight: bold;
}